# System files
.DS_Store

# Log files
firebase-debug.log

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files - Depending on the project, you might want to ignore data files
# For now, we will commit the processed data as part of the EDA checkpoint.
# *.csv
# *.parquet

# Model files
*.pkl

# Virtual Environments
venv/
.venv/
env/

# Streamlit config folder
.streamlit/

# Other model files
models/feature_names.pkl
models/preprocessor.pkl
